<!DOCTYPE html>
<html lang="en" class=" w-screen scroll-smooth overflow-x-hidden">
<head>
    
    <title>LockIn: Site Blocker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/landingPage/styles/build.css">
    <link rel="stylesheet" href="./static/landingPage/styles/custom.css">
    <link rel="icon" href="./static/landingPage/images/favicon.ico" type="image/x-icon">
</head>
<body class="w-3/4 justify-self-center antialiased" id="urmom">
    <div class="flex p-4 justify-between navbar w-screen fixed top-0 left-0 z-10">
        <div >        
            <!-- <img class="h-1" src="./static/images/icon.png" alt="logo"> -->
            <a href="./"><h2 class="font-black  z-10">LockIn.</h2></a>
        </div>
        <div class="hidden md:flex gap-4 md:gap-8 md:pr-16">
            <h3><a href="./#pricing" >Pricing</a></h3>
            <h3><a href="./#how" >How Does It Work?</a></h3>
        </div>
    </div>

    <div class="  md:text-left lg:text-left flex flex-row h-screen w-full items-center drop-shadow-sm ">
       
        
        <div class="moveDown flex flex-col pb-16 pt-16 md:gap-16 justify-evenly md:justify-normal h-3/4 lg:h-auto md:w-full xl:w-5/6">
            
            <h1 id="nth-child-1" class="">
                The Most <span class="text-textgreen drop-shadow-sm underline ">UNBLOCKABLE</span><br>Desktop Site Blocker.
            </h1>

            <h2 id="nth-child-2" class="md:w-3/4 lg:w-3/4 font-medium">
                Tried other blockers but got around them? We won’t let you slide. You can easily bypass other blockers, but with <span class="font-black">LockIn</span>, it’s virtually impossible.
            </h2>

            <a id="nth-child-3" href='#pricing' >
                <div class="flex justify-self-center md:justify-self-auto  cursor-pointer pr-3 pl-3 p-2 md:pr-6 md:pl-6 md:p-3 xl:pr-8 xl:pl-8 xl:p-4  border-2 border-black rounded-xl bg-green w-fit hover:bg-green-hover duration-150 ease-in-out">
                    <span class="text-lg md:text-2xl">Get <span class="font-black">LockIn.</span></h1>
                </div>
            </a>
        </div>

        <div class="p-2 pb-6 absolute bottom-0 left-1/2 transform -translate-x-1/2 md:p-4 lg:pb-8 w-full text-center md:min-w-max"><h3>Supported on Windows, MacOS, and Linux.</h3></div>
    
    </div>

    <div id="reasoning" class="flex justify-center h-dvh w-full items-center ">
        
        <div class="flex flex-col pb-16 pt-16 gap-16 text-center justify-center h-3/4 lg:w-3/4 md:w-full">
            <h1 >
                Willpower is Limited<!--   Stop Lying To Yourself.&mdash; -->
            </h1>
            <h2 class="font-medium">
                <!-- You're not <span class="italic">'just checking'</span>&mdash; you're wasting your time, and you know it.<br><br>
                Stop screwing around. Block distractions. Chase your <span class="font-black">dreams</span>.<br><br>
                <br><br> -->
                You have <span class="font-black">dreams</span>.<br><br>
                Stop fighting distractions. Start fighting for your dreams.<br><br>
                We’ll block the noise&mdash; <span class="font-black">you get the work done.</span><br>

            </h2>
            
        </div>
    </div>
    <div id="how" class="flex justify-center h-dvh w-full items-center ">
        
        <div class="flex flex-col pb-16 pt-16 gap-16 text-center justify-center h-3/4 lg:w-3/4 md:w-full">
            <h1 >
                How Does It Work?
            </h1>
            <h2 class="font-medium">
                1) Create Blacklist<br>
                2) Set Timer<br>
                3) <span class="font-black">LockIn.</span><br><br>
                No cheating, just pure focus.
            </h2>
            
        </div>
    </div>

    <div id="pricing" class="flex justify-center min-h-max lg:h-screen w-full items-center ">
        
        <div class="flex flex-col pb-16 pt-16 text-center justify-center">

            <div>   
                <h1 class="p-4">Pricing</h1>
                <h3 class="italic">No Subscription. Buy once, own forever.<br><br><a href="coming-soon?tier=0" class="text-blue-500 underline">Looking for a free trial?</a></h3>
            </div>

            <div class="flex flex-col lg:flex-row mt-16 md:items-center lg:items-stretch gap-16 overflow-x-auto lg:h-[450px] w-full pb-8">

                <div class="flex h-[400px] lg:h-auto flex-col w-80 border-4 border-black justify-between rounded-xl shadow-lg ">
                        <div>
                            <h2 class="pt-8">Quick <span class="font-black">LockIn.</span></h2>
                        </div>

                        <div>
                            <h1 class="lg:text-6xl">$39<span class="text-sm font-black">USD</span></h1>
                        </div>

                        <div class="ml-8">
                            <div class="flex items-center  text-left">
                                <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                                <span>Block 3 Sites</span>
                            </div>

                            <div class="flex items-center text-left">
                                <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                                <span>Max Sessions/Week: 4</span>
                            </div>

                        </div>

                        <a  href="coming-soon?tier=1">
                            <div class="bg-green rounded-xl ml-16 mr-16  mb-8 p-2 hover:bg-green-hover duration-150 cursor-pointer flex justify-center border-2 border-black">
                                <h4 class="min-w-max">Select <span class="font-extrabold">Quick</span></h4>
                            </div>
                        </a>
                </div>
      

            <div class="flex h-[400px] lg:h-auto flex-col w-80 border-4 border-green justify-between rounded-xl shadow-lg ">

                    <div class="bg-green absolute rounded-xl pl-3 pr-3 pb-1 pt-1 left-1/2 transform -translate-x-1/2 -translate-y-4">Popular</div>
                    
                    <div class="div">
                        <h2 class="pt-8">Power <span class="font-black">LockIn.</span></h2>
                    </div>

                    <div >
                        <h1 class="lg:text-6xl">$59<span class="text-sm font-black">USD</span></h1>
                    </div>

                    <div class="ml-8 ">
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Block Unlimited Sites</span>
                        </div>
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Unlimited Sessions/Week</span>
                        </div>
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Block 3 Desktop Apps</span>
                        </div>
                    </div>

                    <a  href="coming-soon?tier=2">
                        <div class="bg-green rounded-xl ml-16 mr-16  mb-8 p-2 hover:bg-green-hover duration-150 cursor-pointer flex justify-center border-2 border-black">
                            <h4 class="min-w-max">Select <span class="font-extrabold">Power</span></h4>
                        </div>
                    </a>

                </div>
                
                <div class="flex h-[400px] lg:h-auto flex-col w-80 border-4 border-black justify-between rounded-xl shadow-lg ">
                    
                    <div class="div">
                        <h2 class="pt-8">Ultimate <span class="font-black">LockIn.</span></h2>
                    </div>
                    <div ">
                        <h1 class="lg:text-6xl">$99<span class="text-sm font-black">USD</span></h1>
                    </div>
                    <div class="ml-8">
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Block Unlimited Sites</span>
                        </div>
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Unlimited Sessions/Week</span>
                        </div>
                        <div class="flex items-center">
                            <img src="./static/landingPage/images/check.png" alt="Checkmark" class="h-4 w-4 mr-2">
                            <span>Block Unlimited Desktop Apps</span>
                        </div>
                    </div>

                    <a href="coming-soon?tier=3">
                        <div class="bg-green rounded-xl ml-16 mr-16  mb-8 p-2 hover:bg-green-hover duration-150 cursor-pointer flex justify-center border-2 border-black">
                            <h4 class="min-w-max">Select <span class="font-extrabold">Ultimate</span></h4>
                        </div>
                    </a>

                
                </div>
    
        </div>
   
    </div>
</body>
</html>